.container {
  max-width: 960px;
}

/*
 * Custom translucent site header
 */

.site-header {
  background-color: rgba(0, 0, 0, .85);
  -webkit-backdrop-filter: saturate(180%) blur(20px);
  backdrop-filter: saturate(180%) blur(20px);
}
.site-header a {
  color: #999;
  transition: ease-in-out color .15s;
}
.site-header a:hover {
  color: #fff;
  text-decoration: none;
}

/*
 * Dummy devices (replace them with your own or something else entirely!)
 */

.product-device {
  position: absolute;
  right: 10%;
  bottom: -30%;
  width: 300px;
  height: 540px;
  background-color: #333;
  border-radius: 21px;
  -webkit-transform: rotate(30deg);
  transform: rotate(30deg);
}

.product-device::before {
  position: absolute;
  top: 10%;
  right: 10px;
  bottom: 10%;
  left: 10px;
  content: "";
  background-color: rgba(255, 255, 255, .1);
  border-radius: 5px;
}

.product-device-2 {
  top: -25%;
  right: auto;
  bottom: 0;
  left: 5%;
  background-color: #e5e5e5;
}


/*
 * Extra utilities
 */

.flex-equal > * {
  -ms-flex: 1;
  flex: 1;
}
@media (min-width: 768px) {
  .flex-md-equal > * {
    -ms-flex: 1;
    flex: 1;
  }
}

.overflow-hidden { overflow: hidden; }



.bd-placeholder-img {
        font-size: 1.125rem;
        text-anchor: middle;
        -webkit-user-select: none;
        -moz-user-select: none;
        -ms-user-select: none;
        user-select: none;
      }

      @media (min-width: 768px) {
        .bd-placeholder-img-lg {
          font-size: 3.5rem;
        }
      }

/*Header row1*/

.header1-left{

 padding-left: 30px;
 padding-top: 6px;
}

.header2-left{
 font-size: 80%;
 padding-bottom: -50px !important;
 padding-top: 10px;
 padding-left: 30px;
}

.header3-left{
 font-size: 80%;
 padding-top: 10px;
}

.row-mb{
 background-color: #000000;
}

.img-position{
  margin-left: 50px;
}

/*End*/

/*Horizontal line*/
.hr-style{
 margin-top: 1px;
 margin-bottom: 1px;
}

/*Header row2*/
.p-style{
 font-size: 80%;
 margin-bottom: 10px;
 margin-top: 10px;
}

/*End*/

/*Navbar*/

.list-style{
 font-size: 80%;
 text-transform: uppercase;
/* margin-bottom: 12px;*/
}

.list-style:hover{
  color: #000000;
 border-bottom: 2px solid black;
}

.nav-link-style{
 font-size: 80%;
 color: #000000 !important;
}

.nav-link-style:hover{
 color: #000000;
 border-bottom: 2px solid black;
}

.nav-link-color{
 color: #000000;
}

.nav-dropdown-btn{
 color: #000000;
 font-size: 90% !important;
 margin-left: -2px !important;
}

.nav-dropdown-btn:hover{
 color: #000000;
 text-decoration: none;
 border-bottom: 2px solid black;
}

.nav-link-color:hover{
 color: #000000;
}

/*End*/


     /* Dropdown Button */
      .dropbtn {
        background-color: #4CAF50;
        color: white;
        padding: 16px;
        font-size: 16px;
        border: none;
      }

      /* The container <div> - needed to position the dropdown content */
      .dropdown {
        position: relative;
        display: inline-block;
      }

      /* Dropdown Content (Hidden by Default) */
      .dropdown-content {
        display: none;
        position: absolute;
        background-color: #f1f1f1;
        min-width: 160px;
        box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
        z-index: 1;
      }

      /* Links inside the dropdown */
      .dropdown-content a {
        color: black;
        padding: 12px 16px;
        text-decoration: none;
        display: block;
      }

      /* Change color of dropdown links on hover */
      .dropdown-content a:hover {background-color: #ddd;}

      /* Show the dropdown menu on hover */
      .dropdown:hover .dropdown-content {display: block;}

      /* Change the background color of the dropdown button when the dropdown content is shown */
      .dropdown:hover .dropbtn {background-color: #3e8e41;}

      /*font-size*/
      .a-font-size{
        font-size: 15px;
        box-shadow: none;
      }

      /*End*/

      /*Submenus*/

      .submenu-mb{
       margin-bottom: -16px;
      }

      .submenu-mb-mt{
       margin-bottom: -16px; 
       margin-top: -16px;
      }

      .submenu-mt{
       margin-top: -16px;
      }

      /*End*/

      .dropdown-position{
       left: -280px;
       top: 36.8px;
       width: 1300px;
       padding-top: 60px;
       padding-bottom: 20px;
       height: 450px;
      }

      .dropdown-position1{
       left: -414px;
       top: 36.8px;
       width: 1300px;
       padding-top: 60px;
       padding-bottom: 20px;
       height: 450px;
      }

      .dropdown-position2{
       left: -525px;
       top: 36.8px;
       width: 1300px;
       padding-top: 60px;
       padding-bottom: 20px;
       height: 450px;
      }

      .dropdown-position3{
       left: -620px;
       top: 36.8px;
       width: 1300px;
       padding-top: 60px;
       padding-bottom: 20px;
       height: 450px;
      }

      .dropdown-position4{
       left: -30px;
       top: 36.7px;
       padding-top: 30px;
       padding-bottom: 10px;
      }

      .dropdown-position5{
       left: -55px;
       top: 36.7px;
       width: 200px;
       padding-top: 30px;
       padding-bottom: 10px;
      }

      .dropdown-position6{
       left: -150px;
       top: 36.7px;
       width: 350px;
       padding-top: 30px;
       padding-bottom: 10px;
      }

      .input-size{
       height: 47px;
      }

      .btn-size{
       text-transform: uppercase;
      }

      .dropdown-font-size{
       font-size: 97%;
       margin-top: -15px;
       margin-bottom: -16px;
      }

      .dropdown-font-size:hover{
       text-decoration: underline;
      }

      .img-style{
       margin-left: 140px;
      }

      .drop-link-header{
       font-size: 100%;
       text-transform: uppercase;
      }

       .drop-link-header:hover{
       text-decoration: underline;
      }

      .dropdown-link-content{
       font-size: 80%;
       margin-top: -15px;
       font-weight: normal;
      }

      .dropdown-link-content:hover{
       text-decoration: underline;
      }

      /*Jumbotron Section*/

     .jumbotron-paragraph{
      text-transform: uppercase;
      margin-top: 130px; 
      margin-right: 600px;
      font-family: Arial, Verdana, Helvetica, sans-serif;
      font-size: 150%;

     }

     .jumbotron-heading{
      text-transform: uppercase;  
       margin-right: 220px;
      font-family: Arial, Verdana, Helvetica, sans-serif;
     }

     .jumbotron-link{
       margin-right: 750px;
      text-decoration: underline;
     }

     .link-color{
       color: #ffffff;
     }


     .link-color:hover{
       color: #ffffff;
     }

     /*End*/

     /*Section 1*/
     .p-style{
       text-transform: uppercase;
       font-size: 120%;
       opacity: 0.6;
     }

     .h1-style{
      text-transform: uppercase;
     }

     .ul-no-bullets{
      list-style-type:none;
      padding-left: 0px;
     }

     /*End*/

    /*Banner*/
     .banner{
      padding-bottom: 130px;
      border-radius: 0 !important;
     }

     .banner-p{
       text-transform: uppercase;
       margin-top: 200px !important;
     }
      .banner-h{
       text-transform: uppercase;
     }
     .banner-link{
      text-align: center;
      text-decoration: underline;
     }
    /*End*/

    /*Card*/
     .card-top-bottom-margin{
      margin-top: 60px;
      margin-bottom: 60px;
     }

     .card-style{
      margin-left: 46px;
      margin-right: 46px;
     }

     .card-content{
      margin-top: 100px;
      text-transform: uppercase;
      font-size: 160%;
     }

    /*End*/

   /*Modal*/

/* .modal.left .modal-dialog,*/
 .modal.right .modal-dialog {
  position: fixed;
  margin: auto;
  left: 0px;
  width: 410px;
  height: 100%;
  -webkit-transform: translate3d(0%, 0, 0);
      -ms-transform: translate3d(0%, 0, 0);
       -o-transform: translate3d(0%, 0, 0);
          transform: translate3d(0%, 0, 0);
 }

/* .modal.left .modal-content,*/
 .modal.right .modal-content {
  height: 100%;
  overflow-y: auto;
 }
 
/* .modal.left .modal-body,*/
 .modal.right .modal-body {
  padding: 15px 15px 80px;
 }

/*Left*/
/* .modal.left.fade .modal-dialog{
  left: -320px;
  -webkit-transition: opacity 0.3s linear, left 0.3s ease-out;
     -moz-transition: opacity 0.3s linear, left 0.3s ease-out;
       -o-transition: opacity 0.3s linear, left 0.3s ease-out;
          transition: opacity 0.3s linear, left 0.3s ease-out;
 }
 
 .modal.left.fade.in .modal-dialog{
  left: 0;
 }*/
        
/*Right*/
 .modal.right.fade .modal-dialog {
  right: -900px;
  -webkit-transition: opacity 0.3s linear, right 0.3s ease-out;
     -moz-transition: opacity 0.3s linear, right 0.3s ease-out;
       -o-transition: opacity 0.3s linear, right 0.3s ease-out;
          transition: opacity 0.3s linear, right 0.3s ease-out;
 }
 
 .modal.right.fade.in .modal-dialog {
  right: 0;
 }

/* ----- MODAL STYLE ----- */
 .modal-content {
  border-radius: 0;
  border: none;
 }

 .modal-header {
  border-bottom-color: #EEEEEE;
  background-color: #FAFAFA;
 }

/* ----- v CAN BE DELETED v ----- */
body {
 background-color: #78909C;
}

.demo {
 padding-top: 60px;
 padding-bottom: 110px;
}

.btn-demo {
 margin: 15px;
 padding: 10px 15px;
 border-radius: 0;
 font-size: 16px;
 background-color: #FFFFFF;
}

.btn-demo:focus {
 outline: 0;
}

.demo-footer {
 position: fixed;
 bottom: 0;
 width: 100%;
 padding: 15px;
 background-color: #212121;
 text-align: center;
}

.demo-footer > a {
 text-decoration: none;
 font-weight: bold;
 font-size: 16px;
 color: #fff;
}

/*End*/

/*Modal Content*/
.modal-content-h2{
 margin-left: 100px;
 font-style: italic;
 font-weight: bolder;
 font-size: 230%;
}

.modal-content-p{
 font-size: 120%;
 font-family: Nexa, sans-serif;
}

.modal-content-button{
 padding-bottom: 20px;
 padding-top: 20px;
}

/*End*/

/*Featurette*/
.featurette-style{
 margin-top: 80px;
 margin-left: -20px;
}

.featurette-style1{
 margin-top: 80px;
}

.featurette-style2{
 margin-left: -10px;
 margin-top: 60px;
}

.featurette-p{
 margin-top: -15px;
}

.featurette-a{
 color: #000000;
 text-decoration: underline;
 font-weight: bold;
}

.featurette-a:hover{
 color: #000000;
}

.featurette-row{
 margin-left: 40px;
}

.p-unique{
 margin-left: -15px;
}

.featurette-input{
 height: 43px;
 width: 366px !important;
}

.featurette-btn{
  height: 43px;
   width: 50px !important;
}
/*End*/

/*Card 2*/
.card-header-top{
 top: -60px;
}

.card-link{
 text-decoration: underline;
}

.card-link:hover{
 text-decoration: underline;
}

.card2-top-bottom-margin{
 margin-top: 100px;
 margin-bottom: 60px;
}

/*End*/
